@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    background-color: white;
    width: 100%;
    height: 48px;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

nav div ul {
    display: flex;
    list-style: none;

}

nav div ul li {
    margin: 13px;
    font-size: 1em;
    font-weight: 700;
}

#azul {
    color: #0669DF;
}

#azul:hover {
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: #0669DF 2px solid;
}

#vermelho {
    color: #C4170C;
}

#vermelho:hover {
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: #C4170C 2px solid;
}

#verde {
    color: #06AA48;
}

#verde:hover {
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: #06AA48 2px solid;
}

#laranja {
    color: #FF6729;
}

#laranja:hover {
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: #FF6729 2px solid;
}

#salmão {
    color: #FB0334;
}

#salmão:hover {
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: #FF6729 2px solid;
}

#vinho {
    color: #FF6700;
}

#vinho:hover {
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: #FF6700 2px solid;
}

#azul-escuro {
    color: #1E4C9A;
}

#azul-escuro:hover {
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: #1E4C9A 2px solid;
}

#verde-escuro {
    color: #006767;
}

#verde-escuro:hover {
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: #006767 2px solid;
}



header {
    background-color: #C4170C;
    height: 74px;
    display: flex;
    justify-content: space-between;
}

div#burguer {
    height: 74px;
    display: flex;
    align-items: center;
    margin: 0px 20px
}

div#burguer:hover {
    cursor: pointer;
}

header h1 {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    
}

header h1:hover {
    cursor: pointer;
}


div#search {
    height: 74px;
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

#search section {
    margin: 0px 15px;
}

#search #procurar:hover {
    cursor: pointer;
}

#search #login:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 50%;
}


body {
    background-color: #F9F9F9;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

main {
    width: 791px;
    margin: auto;
}

main #anuncio {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#anuncio h1 {
    border: 3px dotted rgba(0, 0, 0, 0.463);
    padding: 40px 150px;
}

main #maior {
    background-color: #FFFFFF;
    height: 450px;
    border: 2px solid #ECECEC;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 100px 0px;
}

#maior #pmaior1 {
    margin: 25px 0px 0px 15px;
    font-size: 1.1em;
    font-weight: bold;
    color: #333333;
}

#maior #maiorh1 {
    margin: auto;
}

#maior h1 {
    margin: 15% 0px 0px 15px;
    color: #A6130A;
    font-size: 2.5em;
}

#maior h1:hover {
    cursor: pointer;
    color: #C4170C;
}

#maior #pmaior2 {
    margin: 0px 0px 120px 15px;
    color: #414141;
}

.menores {
    height: 250px;
    display: flex;
    border-width: 0px 0px 700px 0px;
    border-bottom: #E0E0E0 1px solid;

}

.menores #aviao {
     width: 350px;
    height: 200px;
    border-radius: 15px;
    align-self: center;
    margin: 0px 0px 0px 10px;
}

.menores .imagens {
    width: 433px;
    height: 200px;
    border-radius: 15px;
    align-self: center;
    margin: 0px 0px 0px 10px;
}

.notmenores {

}

.notmenores .menorh2 {
    margin: 35px 0px 10px 25px;
    color: #A6130A;
}

.notmenores .menorh2:hover {
    cursor: pointer;
    color: #C4170C;
}


.notmenores .menorul {
    margin: 0px 0px 10px 25px;
}

.notmenores .menorli {
    margin: 0px 0px 10px 17px;
    color: #A61320;
}

.notmenores .menorli:hover {
    cursor: pointer;
    color: #C4170C;
}

.menorli::marker {
    color: #555555;
}

.notmenores p {
    margin: 0px 0px 10px 25px;
    color: #555555;
}

footer {
    background-color: #C4170C;
    height: 141px;
    display: flex;
    flex-direction: column;
}

footer h2 {
    color: white;
    font-size: 2em;
    margin: 10px 0px 10px 15px;
}

footer h2:hover {
    cursor: pointer;
}

footer a {
    color: white;
    font-size: 0.8em;
    margin: 0px 0px 10px 15px;
    text-decoration: none;
}

footer a:hover {
    cursor: pointer;
}

footer p {
    color: white;
    font-size: 0.8em;
    margin: 20px 0px 10px 15px;
}